@use '../base/settings';

form#contact-form {
  padding: 1rem 25rem;
  display: flex;
  flex-direction: column;


  .form-control:focus {
    border-color: settings.$primary-dark !important;
    box-shadow: 0 0 0 0.2rem settings.$box-shadow-pink !important;
  }
}