//General
@use './base/settings';
@use '../App.scss';
//Componentes
@use './components/navBar';
@use './components/itemListContainer';
@use './components/itemDetailContainer';
@use './components/errorPage';
@use './components/itemCount';
@use './components/itemDetail';
@use './components/item';
@use './components/cart';
@use './components/formField';
@use './components/contact';

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');